# School Absence - Exploratory Data Analysis

## Load libraries

In [104]:
import os
import pandas as pd

## Set display options

In [105]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Load data

In [106]:
data_path = r"/Users/ssam/school_absence/data/external/6_absence_2term_characteristics.csv"
data = pd.read_csv(data_path)

In [108]:
data.columns

Index(['time_period', 'time_identifier', 'geographic_level', 'country_code',
       'country_name', 'region_code', 'region_name', 'old_la_code',
       'new_la_code', 'la_name', 'school_type', 'characteristic', 'enrolments',
       'sess_possible', 'sess_overall', 'sess_authorised', 'sess_unauthorised',
       'sess_overall_percent', 'sess_authorised_percent',
       'sess_unauthorised_percent', 'enrolments_pa_10_exact',
       'enrolments_pa_10_exact_percent', 'sess_possible_pa_10_exact',
       'sess_overall_pa_10_exact', 'sess_authorised_pa_10_exact',
       'sess_unauthorised_pa_10_exact', 'sess_overall_percent_pa_10_exact',
       'sess_authorised_percent_pa_10_exact',
       'sess_unauthorised_percent_pa_10_exact', 'sess_auth_illness',
       'sess_auth_appointments', 'sess_auth_religious', 'sess_auth_study',
       'sess_auth_traveller', 'sess_auth_holiday', 'sess_auth_ext_holiday',
       'sess_auth_excluded', 'sess_auth_other', 'sess_auth_totalreasons',
       'sess_unauth_holiday', 'sess_unauth_late', 'sess_unauth_other',
       'sess_unauth_noyet', 'sess_unauth_totalreasons',
       'sess_overall_totalreasons', 'sess_x_covid', 'sess_y_exceptional'],
      dtype='object')

## Clean data

### Restrict time period

In [109]:
time_period = 202223

data_clean = data.loc[data.loc[:,'time_period']==time_period]

### Restrict columns

In [110]:
dimensions = ['time_period', 'time_identifier', 'geographic_level', 'region_code', 'region_name',
       'new_la_code', 'la_name', 'school_type', 'characteristic']

values = ['enrolments',
       'sess_possible', 'sess_overall', 'sess_authorised', 'sess_unauthorised',
       'sess_overall_percent', 'sess_authorised_percent',
       'sess_unauthorised_percent', 'enrolments_pa_10_exact',
       'enrolments_pa_10_exact_percent', 'sess_possible_pa_10_exact',
       'sess_overall_pa_10_exact', 'sess_authorised_pa_10_exact',
       'sess_unauthorised_pa_10_exact', 'sess_overall_percent_pa_10_exact',
       'sess_authorised_percent_pa_10_exact',
       'sess_unauthorised_percent_pa_10_exact', 'sess_auth_illness',
       'sess_auth_appointments', 'sess_auth_religious', 'sess_auth_study',
       'sess_auth_traveller', 'sess_auth_holiday', 'sess_auth_ext_holiday',
       'sess_auth_excluded', 'sess_auth_other', 'sess_auth_totalreasons',
       'sess_unauth_holiday', 'sess_unauth_late', 'sess_unauth_other',
       'sess_unauth_noyet', 'sess_unauth_totalreasons',
       'sess_overall_totalreasons', 'sess_x_covid', 'sess_y_exceptional']

data_clean = data_clean.loc[:, dimensions + values]

### Unpivot values

In [111]:
data_clean = pd.melt(data_clean, id_vars=dimensions,
                     value_vars=values,
                     var_name='Measure',
                     value_name='Value')

In [112]:
data_clean.head(1)

,time_period,time_identifier,geographic_level,region_code,region_name,new_la_code,la_name,school_type,characteristic,Measure,Value
0,202223,Autumn and spring term,Regional,E12000001,North East,NaN,NaN,State-funded secondary,Ethnicity Major - Chinese,enrolments,667

### Rename values within characteristics field

In [113]:
rename_characteristics = pd.read_csv(r"/Users/ssam/school_absence/data/raw/rename_characteristic.csv")

data_clean = pd.merge(left=data_clean,
                      right=rename_characteristics,
                      how='outer',
                      on='characteristic')

### Rename fields

In [114]:
rename_measures = pd.read_csv(r"/Users/ssam/school_absence/data/raw/rename_measures.csv")

data_clean = pd.merge(left=data_clean,
                      right=rename_measures,
                      how='outer',
                      on='Measure')

In [115]:
data_clean.head(1)
# data_clean.columns

,time_period,time_identifier,geographic_level,region_code,region_name,new_la_code,la_name,school_type,characteristic,Measure,Value,new_characteristic_group,new_characteristic_name,Measure Name
0,202223.0,Autumn and spring term,Regional,E12000001,North East,NaN,NaN,State-funded secondary,Ethnicity Major - Chinese,enrolments,667,Ethnicity Major,Chinese,Number of pupil enrolments

In [119]:
print(len(data_clean)/3, len(data_clean)/3*2, len(data_clean))

379683.6666666667 759367.3333333334 1139051

### Save to Processed folder

In [103]:
# data_clean.to_csv(index=False, path_or_buf=r"/Users/ssam/school_absence/data/processed/clean_6_absence_2term_characteristics.csv")

In [120]:
data_clean.loc[0:1]

,time_period,time_identifier,geographic_level,region_code,region_name,new_la_code,la_name,school_type,characteristic,Measure,Value,new_characteristic_group,new_characteristic_name,Measure Name
0,202223.0,Autumn and spring term,Regional,E12000001,North East,NaN,NaN,State-funded secondary,Ethnicity Major - Chinese,enrolments,667,Ethnicity Major,Chinese,Number of pupil enrolments
1,202223.0,Autumn and spring term,Regional,E12000009,South West,NaN,NaN,Special,Ethnicity Major - Chinese,enrolments,27,Ethnicity Major,Chinese,Number of pupil enrolments

In [121]:
data_clean.loc[0:379683].to_csv(index=False, path_or_buf=r"/Users/ssam/school_absence/data/processed/clean_6_absence_2term_characteristics_1.csv")
data_clean.loc[379684:759367].to_csv(index=False, path_or_buf=r"/Users/ssam/school_absence/data/processed/clean_6_absence_2term_characteristics_2.csv")
data_clean.loc[759368:1139051].to_csv(index=False, path_or_buf=r"/Users/ssam/school_absence/data/processed/clean_6_absence_2term_characteristics_3.csv")

## EDA

In [30]:
data.filter(regex='percent').head()

,sess_overall_percent,sess_authorised_percent,sess_unauthorised_percent,enrolments_pa_10_exact_percent,sess_overall_percent_pa_10_exact,sess_authorised_percent_pa_10_exact,sess_unauthorised_percent_pa_10_exact
0,3.91625,3.19595,0.72030,7.74908,16.06352,11.87219,4.19133
1,7.83561,5.04636,2.78925,22.41224,25.17962,14.00838,11.17124
2,3.43943,2.41126,1.02817,7.08215,16.78752,9.14630,7.64122
3,4.13149,2.58179,1.54970,9.95516,18.79168,8.98733,9.80435
4,4.85367,3.40474,1.44893,12.65116,18.03998,10.35420,7.68577

In [31]:
data.loc[:,'geographic_level'].unique()

array(['Regional', 'Local authority', 'National'], dtype=object)

In [46]:
for col in dimensions:
    print(col)
    print(data.loc[:,col].unique())

time_period
[201617 201718 201819 202021 202122 202223]
time_identifier
['Autumn and spring term']
geographic_level
['Regional' 'Local authority' 'National']
region_code
['E12000001' 'E12000002' 'E13000002' 'E12000004' 'E12000006' 'E13000001'
 'E12000008' 'E12000009' 'E12000005' 'E12000003' nan]
region_name
['North East' 'North West' 'Outer London' 'East Midlands'
 'East of England' 'Inner London' 'South East' 'South West'
 'West Midlands' 'Yorkshire and The Humber' nan]
new_la_code
[nan 'E09000020' 'E09000023' 'E09000006' 'E08000027' 'E08000030'
 'E08000003' 'E08000006' 'E08000009' 'E08000021' 'E08000022' 'E06000004'
 'E06000011' 'E06000058' 'E06000016' 'E06000036' 'E10000034' 'E10000017'
 'E06000020' 'E10000020' 'E08000005' 'E06000024' 'E06000002' 'E10000002'
 'E06000045' 'E06000019' 'E06000051' 'E09000007' 'E09000005' 'E08000014'
 'E10000023' 'E06000032' 'E06000055' 'E09000008' 'E08000028' 'E08000012'
 'E08000032' 'E08000033' 'E08000024' 'E06000001' 'E06000003' 'E06000021'
 'E06000008' 'E06000062' 'E09000030' 'E09000002' 'E09000025' 'E08000034'
 'E06000035' 'E10000013' 'E10000025' 'E10000030' 'E06000039' 'E09000012'
 'E09000019' 'E09000026' 'E08000031' 'E08000013' 'E08000015' 'E08000004'
 'E08000007' 'E08000017' 'E08000018' 'E08000036' 'E06000025' 'E06000030'
 'E06000038' 'E06000041' 'E06000006' 'E06000007' 'E06000027' 'E06000033'
 'E06000040' 'E06000013' 'E10000016' 'E06000009' 'E10000024' 'E06000018'
 'E10000019' 'E10000027' 'E10000031' 'E09000018' 'E10000012' 'E09000001'
 'E09000028' 'E09000003' 'E09000010' 'E09000014' 'E08000025' 'E06000022'
 'E06000042' 'E10000007' 'E10000011' 'E10000014' 'E10000018' 'E10000028'
 'E06000037' 'E06000057' 'E09000013' 'E09000022' 'E06000050' 'E08000008'
 'E08000023' 'E06000010' 'E06000015' 'E06000017' 'E08000026' 'E09000011'
 'E09000032' 'E09000033' 'E09000016' 'E09000017' 'E09000021' 'E09000024'
 'E09000027' 'E09000031' 'E08000010' 'E08000035' 'E06000012' 'E06000056'
 'E06000059' 'E06000005' 'E06000049' 'E10000006' 'E10000015' 'E09000029'
 'E08000002' 'E08000019' 'E08000016' 'E10000003' 'E06000031' 'E10000008'
 'E09000004' 'E08000001' 'E06000023' 'E06000014' 'E06000044' 'E06000026'
 'E06000034' 'E06000052' 'E06000046' 'E10000029' 'E10000032' 'E09000009'
 'E09000015' 'E08000029' 'E08000011' 'E06000061' 'E06000043' 'E06000047'
 'E08000037' 'E06000054' 'E06000053' 'E10000021' 'E06000029' 'E10000009'
 'E06000028']
la_name
[nan 'Kensington and Chelsea' 'Lewisham' 'Bromley' 'Dudley' 'Walsall'
 'Manchester' 'Salford' 'Trafford' 'Newcastle upon Tyne' 'North Tyneside'
 'Stockton-on-Tees' 'East Riding of Yorkshire'
 'Bournemouth, Christchurch and Poole' 'Leicester' 'Bracknell Forest'
 'Worcestershire' 'Lancashire' 'Telford and Wrekin' 'Norfolk' 'Rochdale'
 'North Somerset' 'Middlesbrough' 'Buckinghamshire' 'Southampton'
 'Herefordshire, County of' 'Shropshire' 'Camden' 'Brent' 'Sefton'
 'North Yorkshire' 'Luton' 'Bedford' 'Croydon' 'Sandwell' 'Liverpool'
 'Bradford' 'Calderdale' 'Sunderland' 'Hartlepool' 'Redcar and Cleveland'
 'Stoke-on-Trent' 'Blackburn with Darwen' 'West Northamptonshire'
 'Tower Hamlets' 'Barking and Dagenham' 'Newham' 'Kirklees' 'Medway'
 'Gloucestershire' 'Oxfordshire' 'Surrey' 'Slough' 'Hackney' 'Islington'
 'Redbridge' 'Wolverhampton' 'St. Helens' 'Wirral' 'Oldham' 'Stockport'
 'Doncaster' 'Rotherham' 'Wakefield' 'South Gloucestershire' 'Swindon'
 'Reading' 'Wokingham' 'Halton' 'Warrington' 'Torbay' 'Southend-on-Sea'
 'Windsor and Maidenhead' 'North Lincolnshire' 'Kent' 'Blackpool'
 'Nottinghamshire' 'Nottingham' 'Lincolnshire' 'Somerset' 'Warwickshire'
 'Hounslow' 'Essex' 'City of London' 'Southwark' 'Barnet' 'Enfield'
 'Haringey' 'Birmingham' 'Bath and North East Somerset' 'Milton Keynes'
 'Derbyshire' 'East Sussex' 'Hampshire' 'Leicestershire' 'Staffordshire'
 'West Berkshire' 'Northumberland' 'Hammersmith and Fulham' 'Lambeth'
 'Cheshire West and Chester' 'Tameside' 'South Tyneside'
 'Kingston upon Hull, City of' 'Derby' 'Rutland' 'Coventry' 'Greenwich'
 'Wandsworth' 'Westminster' 'Havering' 'Hillingdon' 'Kingston upon Thames'
 'Merton' 'Richmond upon Thames' 'Waltham Forest' 'Wigan' 'Leeds'
 'North East Lincolnshire' 'Central Bedfordshire' 'Dorset' 'Darlington'
 'Cheshire East' 'Cumbria' 'Hertfordshire' 'Sutton' 'Bury' 'Sheffield'
 'Barnsley' 'Cambridgeshire' 'Peterborough' 'Devon' 'Bexley' 'Bolton'
 'Bristol, City of' 'York' 'Portsmouth' 'Plymouth' 'Thurrock' 'Cornwall'
 'Isle of Wight' 'Suffolk' 'West Sussex' 'Ealing' 'Harrow' 'Solihull'
 'Knowsley' 'North Northamptonshire' 'Brighton and Hove' 'County Durham'
 'Gateshead' 'Wiltshire' 'Isles of Scilly' 'Northamptonshire' 'Poole'
 'Bournemouth']
school_type
['State-funded secondary' 'Special' 'Total' 'State-funded primary']
characteristic
['Year 6' 'Ethnicity Major - Unclassified'
 'Ethnicity Minor - Any other Asian background'
 'Ethnicity Minor - Any other ethnic group'
 'Ethnicity Minor - Any other Mixed background'
 'Ethnicity Minor - White British' 'Female' 'First language unclassified'
 'FSM eligible' 'FSM unclassified' 'Male' 'Year 2' 'Year 3'
 'Ethnicity - minority ethnic group' 'Ethnicity Major - Chinese'
 'SEN - No SEN' 'Year 1 and below' 'Year 5' 'Year 7'
 'Ethnicity Major - Any other ethnic group'
 'Ethnicity Minor - Any other White background'
 'Ethnicity Minor - Black African' 'Ethnicity Minor - Pakistani'
 'Ethnicity Minor - Unclassified' 'Ethnicity Minor - White and Asian'
 'Ethnicity Minor - White and Black African'
 'Ethnicity Minor - White and Black Caribbean'
 'First language known or believed to English'
 'NC not followed or missing' 'Year 11' 'Year 12 and above'
 'Ethnicity Minor - Bangladeshi' 'SEN - Statement or EHCP'
 'Ethnicity Minor - Irish' 'SEN - unclassified' 'Total'
 'Ethnicity Major - Mixed Total'
 'First language known or believed to be other than English'
 'Not minority ethnic' 'SEN - SEN support' 'Year 8' 'Year 10' 'Year 9'
 'Ethnicity Minor - Gypsy Roma' 'FSM not eligible'
 'Ethnicity Minor - Any other Black background'
 'Ethnicity Minor - Black Caribbean' 'Year 4'
 'Ethnicity Major - Black Total' 'Ethnicity Major - White Total'
 'Ethnicity Minor - Chinese' 'Gender_unclassified'
 'Ethnicity Major - Asian Total' 'Ethnicity Minor - Indian'
 'Ethnicity Minor - Traveller of Irish heritage']